*.json linguist-detectable=true
*.json linguist-documentation=false
*.json linguist-language=JSON

*.yaml linguist-detectable=true
*.yaml linguist-documentation=false
*.yaml linguist-language=YAML

*.yml linguist-detectable=true
*.yml linguist-documentation=false
*.yml linguist-language=YAML

*.rb linguist-detectable=true
*.rb linguist-documentation=false
*.rb linguist-language=RUBY

*.desktop linguist-detectable=true
*.desktop linguist-documentation=false
*.desktop linguist-language=INI

*.repo linguist-detectable=true
*.repo linguist-documentation=false
*.repo linguist-language=INI

*.conf linguist-detectable=true
*.conf linguist-documentation=false
*.conf linguist-language=YAML

*.toml linguist-detectable=true
*.toml linguist-documentation=false
*.toml linguist-language=TOML

os-release linguist-detectable=true
os-release linguist-documentation=false
os-release linguist-language=SHELL

hostname linguist-detectable=true
hostname linguist-documentation=false
hostname linguist-language=TEXT

*.packages linguist-detectable=true
*.packages linguist-documentation=false
*.packages linguist-language=TEXT
