*.json linguist-detectable=true
*.json linguist-documentation=false
*.json linguist-language=JSON

*.yaml linguist-detectable=true
*.yaml linguist-documentation=false
*.yaml linguist-language=YAML

*.yml linguist-detectable=true
*.yml linguist-documentation=false
*.yml linguist-language=YAML

*.rb linguist-detectable=true
*.rb linguist-documentation=false
*.rb linguist-language=RUBY

*.desktop linguist-detectable=true
*.desktop linguist-documentation=false
*.desktop linguist-language=INI

*.conf linguist-detectable=true
*.conf linguist-documentation=false
*.conf linguist-language=YAML

*.toml linguist-detectable=true
*.toml linguist-documentation=false
*.toml linguist-language=TOML
